/*Fonts*/
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf');
 }

@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('../fonts/HelveticaLTStd-Bold.otf');
 }

 @font-face {
  font-family: 'HelveticaLTStd-Light';
  src: url('../fonts/HelveticaLTStd-Light.otf');
 }

 @font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }

 @font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
 }

body {
  font-family: 'HelveticaLTStd-Light' !important;
}
.no-padding {
    padding: 0px;
}

/*==========================================*/

/*
** Header
*/
.header-section {
  background-image: url('../img/backgorund/home-top-bg-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 7%;
  padding: 70px 0px;
}
.header_panel_section {
  padding: 30px;
  background: rgba(35, 53, 136, 0.55);
}
.header_panel_section h4 {
  color: white;
  font-family: 'Montserrat-Bold';
  font-size: 28px;
}
.header_panel_section span {
  color: white;
  font-size: 20px;
}
.header_panel_section p {
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.69);
}

.header-section button {
  color: white;
  background-color: #d4145a;
  border: none;
  width: 110px;
  height: 30px;
  font-size: 10px;
  font-family:"Montserrat-Regular";
  border-radius: 5px;
}

/*Mobile blog slider*/
.carousel-blog-top {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px; 
      padding: 15px;
      margin-top: 10px;

}
.carousel-blog-top h5{
    color: #233588;
    font-family: "Montserrat-Bold";
    font-size: 15px;
}

.carousel-blog-top p {
    font-family: "HelveticaLTStd-Light";
    color: #808285;
    font-size: 12px;
  }


.carousel-blog-top button {
    color: white;
    width: 60px;
    height: 20px;
    font-size: 10px;
    background-color: #283887;
    border: none;
    border-radius: 5px;
}
/*first seciton news*/

.section1_home {
  padding: 40px 0px;
}

.home-bigpanel {
  padding: 20px 20px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}
.home-bigpanel h4 {
  color: #233588;
  font-family: "Montserrat-Bold";
  font-size: 20px;
}
.home-bigpanel p {
  font-family: "HelveticaLTStd-Light";
  color: #808285;
  font-size: 15px;
}
.home-bigpanel button {
  margin-top: 20px;
  color: white;
  background-color: #d4145a;
  border: none;
  width: 110px;
  height: 30px;
  font-size: 10px;
  font-family:"Montserrat-Regular";
  border-radius: 5px;
}

.panel-homepage {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}

.panel-homepage img {
  width: 50px;
}

.panel-homepage1 {
  padding-left: 0px;
  margin: 20px 0px;
}
.panel-homepage2 {
  padding-right: 0px;
}

.panel-homepage h4 {
  color: #233588;
  font-family: "Montserrat-Bold";
  font-size: 20px;
}

.panel-homepage p {
  font-family: "HelveticaLTStd-Light";
  color: #808285;
  font-size: 15px;
}


/*Panels On the right*/
.small-panels-right {
  margin-bottom: 15px;
  padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}
.small-panels-right h5{
   color: #233588;
  font-family: "Montserrat-Bold";
  font-size: 15px;
}
.small-panels-right p {
    font-family: "HelveticaLTStd-Light";
  color: #808285;
  font-size: 12px;
}
.small-panels-right button {
  color: white;
  width: 60px;
  height: 20px;
  font-size: 10px;
  background-color: #283887;
  border:none;
  border-radius: 5px;
}

/*Desktop Version*/

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }
    .home-bigpanel p {
      font-family: "HelveticaLTStd-Light";
      color: #808285;
      font-size: 12px;
    }
    .panel-homepage p {
      font-family: "HelveticaLTStd-Light";
      color: #808285;
      font-size: 12px;
    }
}